.PW {
    position: sticky;
    z-index: 2147483647;
    border-bottom:1px solid black;
}

.PW-tooltip {
    position: fixed;
    left: 0;
    top: 0;
    padding: 4px;
    background: LavenderBlush;
    outline: 1px solid black;
    border-radius: 4px;
    z-index: 2147483647;
    visibility: hidden;
}

.PW-page-object-model-overlay {
    position: relative;
    background-color: #ff8080;
    opacity: 0.7;
    z-index: 2147483646;
    width: 100%;
    height:100%;
}

.PW-grid-first-cell {
    grid-row-start: 1;
    grid-column-start: 1;
}

.PW-statusbar {
    background: #eee;
    display: flex;
}

.PW-statusbar-item {
    display: flex;
}

/* checkbox red dot styling */
.PW-checkbox-recording input[type=checkbox] {
    visibility: collapse;
    width: 0;
    height: 0;
}

.PW-checkbox-recording label {
    display: block;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: #bbb;
}

.PW-checkbox-recording input[type=checkbox]:checked+label {
    background: #d00;
    box-shadow: 0 0 5px #d00;
}

#PW-eval-error-details {
    background: #f0f0f0;
    padding: 0.5em;
}

#PW-eval-error-summary {
    background: salmon;
    padding: 0 0.5em;
}

#PW-page-object-model-filename {
    border:0;
    padding: 0 0.5em;
}

.PW-pre {
    background:black;
    color:white;
}