.PW {
    position: sticky;
    z-index: 2147483647;
    top: 0;
}

.PW-tooltip {
    position: fixed;
    left: 0;
    top: 0;
    padding: 4px;
    background: LavenderBlush;
    outline: 1px solid black;
    border-radius: 4px;
    z-index: 2147483647;
    visibility: hidden;
}

.PW-page-object-model-overlay {
    position: relative;
    background-color: #ff8080;
    opacity: 0.7;
    z-index: 2147483646;
    width: 100%;
    height: 100%;
}

/* checkbox red dot styling */
.PW-checkbox-recording input[type=checkbox] {
    visibility: collapse;
    width: 0;
    height: 0;
}

.PW-checkbox-recording input[type=checkbox]:checked+label {
    background: #d00;
    box-shadow: 0 0 2px #d00;
}

.PW-checkbox-recording label {
    display: block;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: #111;
}


.PW-pre {
    background: #333;
    color: white;
    margin: 0;
    text-align: left;
}

/* dropdown menu for methods */
.dropdown__category,
.dropdown__menu {  display: flex; list-style: none; padding: 0; margin: 0; position: relative; }

.dropdown__category .dropdown__menu { display: none; }
.dropdown__category:hover .dropdown__menu { display: block; }
.dropdown__category .dropdown__menu { position: absolute; top: 30px; left: 0; }
.dropdown__category li { padding: 0 4px; position: relative; }
.dropdown__menu li { padding: 10px; position: relative; background: white; }
.dropdown__category li:hover { background: #ccc; }


/* Toast */

#PW_PLR_toast { display: flex; width: 100%; border-radius: 2px; position: fixed; z-index: 2147483647; left: 0; right:0; bottom: 30px; opacity: 0; transition: opacity 0.3s ease }
#PW_PLR_toast.show { opacity: 0.95; }
#PW_PLR_toast #PW_PLR_toast_img { box-sizing: border-box; background-color: #333; color: #fff; font-size: 16px; width: 20px; }
#PW_PLR_toast #PW_PLR_toast_desc { background: #333; color: #fff; width: 100%; font-size: 16px; }


/* loader */
.PW_PLR_loader { border: 4px solid #f3f3f3; border-top: 4px solid #3498db; border-radius: 50%; width: 18px; height: 18px; animation: spin 1s linear infinite; }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }